<configuration>
	<connectionStrings>
		<add name="DBConnect" providerName="System.Data.SqlClient" connectionString="Server=KAZMI-Thinkpad\SQLEXPRESS;Database=eMeterDB;;User Id=sa;Password=9asta4medica;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="RestService.eMeterAPI">
				<!-- Define RESTful endpoint -->
				<endpoint address="" binding="webHttpBinding" contract="RestService.IeMeterAPI" behaviorConfiguration="restfulBehavior" />
				<!-- Metadata exchange endpoint for testing and debugging -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Enable metadata exchange for testing and debugging -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set to true. Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<!-- Define behavior configuration for RESTful endpoint -->
				<behavior name="restfulBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>
		<!-- Enable ASP.NET compatibility if needed -->
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
    <modules>
      <add name="CorsModule" type="RestService.CorsModule"/>
    </modules>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, Authorization" />
      </customHeaders>
    </httpProtocol>-->
		<!-- To browse web app root directory during debugging, set to true. Set to false before deployment to avoid disclosing web app folder information -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
